@page "/Tecnico/Details/tecnicoid={idTecnico:int}"
@rendermode InteractiveServer
@inject TecnicosService tecnicosService
@inject NavigationManager navigation

<PageTitle>Detalles</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        @*Titulo de página*@
        <div class="card-header text-center">
            <div class="bg-info rounded">
                <h1>Detalles del t&eacute;nico</h1>
            </div>
        </div>

        @*Vista general*@
        <div class="card-body" style="display: flex; justify-content: space-between;">
            <Card Color="CardColor.Info" Class="mb-2" Style="width:24rem;">
                <CardHeader>
                    <CardTitle>
                        ID: @Tecnico.TecnicoId
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <CardText>@Tecnico.Nombres</CardText>
                    <CardText>Sueldo: @Tecnico.SueldoHora.ToString("N2")</CardText>
                </CardBody>
            </Card>
        </div>

        @*Botones de control*@
        <div class="card-footer d-flex justify-content-center">
            <button class="btn btn-secondary" type="button"
                    @onclick="Volver">
                <i class="bi bi-arrow-left"></i> Volver
            </button>
        </div>
    </div>
</div>

@code {

    public Tecnicos? Tecnico { get; set; } = new Tecnicos();
    [Parameter]
    public int idTecnico { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Tecnico = await tecnicosService.Buscar(idTecnico);
    }

    public void Volver() => navigation.NavigateTo("/Tecnico/Index");
}