@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        @*Header*@
        <div class="card-header text-white text-center">
            <div class="bg-primary rounded">
                <h1>Bienvenidos al registro de t&eacute;cnicos web</h1>
            </div>
        </div>
        @*Body*@
        <div class=" text-center">
            <h2>Estudiante:</h2>
            <p>Steven Michael Javier L&oacute;pez</p>
            <p>Matr&iacute;cula: 2018-0973</p>
        </div>
    </div>
</div>