@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    @* Titulo *@
    <div class="card shadow-lg">
        <div class="card-header text-white text-center">
            <div class="bg-primary rounded">
                <h1>Registros web</h1>
            </div>
        </div>
        @* Cuerpo con descripción de los registros *@
        <div class="card-body text-center">
            <h3>Creado por el estudiante Steven</h3>
            <p>Tarea de Programaci&oacute;n Aplicada I</p>

            <CardGroup>
                <Card Color="CardColor.Primary" Class="mb-2 me-2 rounded" Style="width:18rem;">
                    <CardHeader>
                        <CardTitle>T&eacute;cnicos</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <CardText>
                            En esa p&aacute;gina usted podra ver, guardar, editar y eliminar sus t&eacute;cnicos.
                        </CardText>
                        <Button Color="ButtonColor.Light" To="/Tecnico/Index" Type="ButtonType.Link">Ir a T&eacute;cnicos</Button>
                    </CardBody>
                </Card>

                <Card Color="CardColor.Primary" Class="mb-2 me-2 rounded" Style="width:18rem;">
                    <CardHeader>
                        <CardTitle>Clientes</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <CardText>
                            En esa p&aacute;gina usted podra ver, guardar, editar y eliminar sus clientes.
                        </CardText>
                        <Button Color="ButtonColor.Light" To="/Cliente/Index" Type="ButtonType.Link">Ir a Clientes</Button>
                    </CardBody>
                </Card>

                <Card Color="CardColor.Primary" Class="mb-2 me-2 rounded" Style="width:18rem;">
                    <CardHeader>
                        <CardTitle>Registro en progreso</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <CardText>
                            ...
                        </CardText>
                        <Button Color="ButtonColor.Light" To="" Type="ButtonType.Link">Ir a ...</Button>
                    </CardBody>
                </Card>
            </CardGroup>
        </div>
    </div>
</div>